:root {
  --tipografia-texto: verdana;
  --tipografia-titulo: sans-serif;
  --borde: solid 4px cadetblue;
  --fondo: darkcyan;
}
* {
  margin-left: 0.5%;
  margin-top: 5px;
  width: auto;
}
.header {
  background-color: var(--fondo);
  width: 1000px;
  padding: 20px;
  border: var(--borde);
}

/*flex*/
.navigation {
  background-color: var(--fondo);
  padding: 10px;
  width: 1000px;
  border: var(--borde);
  display: flex;
}
.patron {
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  border: var(--borde);
}
.menu {
}
