:root {
  --tipografia-texto: verdana;
  --tipografia-titulo: sans-serif;
  --borde: solid 4px cadetblue;
  --fondo: darkcyan;
}
* {
  margin-left: 0.5%;
  margin-top: 5px;
  width: auto;
}
.header {
  background-color: var(--fondo);
  padding: 20px;
  border: var(--borde);
}
.navigation {
  background-color: var(--fondo);
  border: var(--borde);
}
