@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 30px;
  margin: 5px;
}
.menu {
  height: 20px;
  margin: 5px;
}
.prueba {
  background-color: rgb(69, 153, 221);
  height: 50vh;
}
.footer {
  background-color: black;
  color: white;
}
