.main{
  height: 100vh;
  background-color: #ffcc00 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.face{
  font-size: 100;
}

.background_yellow{
  background-color: #ffcc00;
}


.background_orange{
  background-color: #ff9900;
}