<main class="page__main">
  <h2>Titulo 1</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores mollitia
    odit quo, ad eligendi enim provident consectetur molestias quam quod
    repudiandae veniam? Aliquam tempore mollitia, repellendus quod laborum sunt
    recusandae?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem pariatur
    libero ipsum rerum ipsam eaque voluptas magni molestias laboriosam,
    nesciunt, tempora consequatur numquam provident quaerat. Provident quod
    aperiam atque distinctio?
  </p>
</main>
